<div class="comment">
  <div class="comment-body">
    <%= markdown comment.body %>
  </div>
  <p class="comment-info">By <%= comment.user.username unless comment.user.nil? %> on <%= comment.created_at.strftime("%D") %></p>
</div>