// footer

.footer {
  min-height: 100px;
  height: 100%;
  background-color: rgb(24, 188, 156);
  font-size: 80%;
  margin-top: 50px;
  padding-left: 10px;
  padding-top: 5px;
  color: white;
}

.footer a {
  color:white;
}

.footer i {
  margin-right: 5px;
}