// footer

.footer {
  background-color: rgb(24, 188, 156);
  font-size: 80%;
  padding-left: 10px;
  padding-top: 5px;
  color: white;
}

.footer a {
  color:white;
}

.footer i {
  margin-right: 5px;
}


* {
  margin: 0;
}

html, body {
  height: 100%;
}

.content {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -120px; 
}
.content:after {
  content: "";
  display: block;
}
.footer, .content:after {
  /* .push must be the same height as footer */
  min-height: 120px; 
  height: 100%;

}