<div class="row">
  <div class="col-lg-12">
    <div class="footer">
      <div class="row">
        <div class="col-lg-1">
          <ul class="list-group">
            <a href="facebook.com"><li><i class="fa fa-facebook-square"></i>Facebook</li></a>
            <a href="twitter.com"><li><i class="fa fa-twitter-square"></i>Twitter</li></a>
            <a href="twitter.com"><li><i class="fa fa-google-plus-square"></i>Google+</li></a>
            <a href="twitter.com"><li><i class="fa fa-bitcoin"></i>Donate</li></a>
          </ul>
        </div>
        <div class="col-lg-1">
          <ul class="list-unstyled">
            <li><%= link_to "Submit Post", new_post_path %></li>
          </ul>
        </div> 
      </div>
      <div>&copy 2014 PM-News</div>
    </div>
  </div>
</div>